export PATH="$PATH":"$HOME/.pub-cache/bin"
export PATH="$PATH":"$HOME/.dotnet/tools"
export PATH="$PATH":"$HOME/.yarn/bin"
export PATH="$PATH":"$HOME/Library/Android/sdk/platform-tools"
export CHROME_EXECUTABLE="/Applications/Brave\ Browser.app/Contents/MacOS/Brave\ Browser"
export ZSH="$HOME/.oh-my-zsh"
