export PATH="$PATH":"$HOME/.pub-cache/bin"
export PATH="$PATH":"$HOME/.dotnet/tools"
export PATH="$PATH":"$HOME/.yarn/bin"
export PATH="$PATH":"$HOME/Library/Android/sdk/platform-tools"
export PATH="$PATH":"/Library/Java/JavaVirtualMachines/zulu-11.jre/Contents/Home"
export CHROME_EXECUTABLE="/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
export FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD="djno-znmp-ztnn-uceb"
export ZSH="$HOME/.oh-my-zsh"
export FLUTTER_ROOT="/Users/saileshbro/fvm/default"
export JAVA_HOME="/Library/Java/JavaVirtualMachines/zulu-11.jdk/Contents/Home"
export BW_SESSION="AjMI1b4C13fh8Cv18OI8sKBokWYcGnGTaM5at/2zwwBgUKI3OjrzYMuzhW6nlLJWPQ9bPY9UH3vwnyIez5KoeQ=="
