eval "$(rbenv init - zsh)"
export PATH="$PATH":"$HOME/.pub-cache/bin"
export PATH="$PATH":"$HOME/.yarn/bin"
export PATH="$PATH":"$HOME/fvm/default/bin"
export PATH="$PATH":"$HOME/Library/Android/sdk/platform-tools"
export GEM_HOME="$HOME/.gem/"
export CHROME_EXECUTABLE="/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
export FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD="djno-znmp-ztnn-uceb"
export ZSH="$HOME/.oh-my-zsh"
export FLUTTER_ROOT="/Users/saileshbro/fvm/default"
export JAVA_HOME="$HOME/Library/Java/JavaVirtualMachines/jdk/Contents/Home"
