function pdelete(){
  sudo pacman -Rsun $(pacman -Qqdt)
  yay -Scc
}

function pw(){
  pwgen -n -y -s -B -v $1 1 | copy
}
function clearNvim(){
    rm -rf ~/.config/nvim;
    rm -rf ~/.local/share/nvim;
    rm -rf ~/.local/state/nvim;
    rm -rf ~/.cache/nvim;
  }
lg()
{
    export LAZYGIT_NEW_DIR_FILE=~/.lazygit/newdir

    lazygit "$@"

    if [ -f $LAZYGIT_NEW_DIR_FILE ]; then
            cd "$(cat $LAZYGIT_NEW_DIR_FILE)"
            rm -f $LAZYGIT_NEW_DIR_FILE > /dev/null
    fi
}
