[init]
defaultBranch = main
[pull]
	rebase = true
[core]
editor = nano
[filter "lfs"]
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
[user]
name = Sailesh Dahal
email = saileshbro@gmail.com
[url "https://"]
insteadOf = git://
[push]
autoSetupRemote = true
[commit]
gpgsign = true
[alias]
c = commit -s
co = checkout -b
