[init]
	defaultBranch = main
[pull]
	rebase = false
[core]
	editor = nano
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Sailesh Dahal
	email = saileshbro@gmail.com
[url "https://"]
	insteadOf = git://
[safe]
	directory = /opt/hostedtoolcache/flutter/stable-3.3.0-x64
[push]
	autoSetupRemote = true
